@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body{
    font-family: Cascadia Code, monospace;
  }

  h1 {
    @apply mt-10;
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }

  main{
    min-height: 100vh;
  }

  p{
    @apply mt-3;
    @apply px-4;
  }

  audio{
    opacity: 1;
    -moz-opacity: 1;
    @apply bg-lime-300;
    padding: 10px;
    @apply rounded-full;
  }
}

  /* Solo usando la clase base y aplicando hover:* y active:* */	

  .button-back{
    @apply  py-2 px-4 mr-3 mt-3 mb-3 font-mono font-semibold bg-orange-300 text-black border border-black shadow-offset-black;
    @apply  hover:bg-orange-400;
    @apply  active:bg-orange-700 
            active:translate-x-[2px]
            active:translate-y-[2px]
            active:left-px
            active:bg-orange-700
            active:shadow-none;

  }


  .shadow-offset-black{
    box-shadow: 3px 3px 0px 0px black;
  }


  /* Utilizando los selectores :hover y :active */

  .button-play{
    @apply py-2 px-4 mr-3 mt-3 mb-3 font-mono font-semibold bg-lime-300 text-black border border-black shadow-offset-black;
  }

  .button-play:hover{
    @apply bg-lime-500 ;
  }

  .button-play:active{
    @apply translate-x-[2px] translate-y-[2px] left-px bg-lime-700 shadow-none;
  }
